.info {
    background-image: url('../img/planet/phbg.jpg');
}

.info-container::before {
    background-image: url('../img/planet/phbg.jpg');
}

.white-light {
    background-color: #e2ab12;
}

.carousel .carousel-item {
    width: 70vw;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .carousel .carousel-item {
        width: 90vw;
    }
}