.info {
    background-image: url('../img/planet/phbg.jpg');
}

.info-container::before {
    background-image: url('../img/planet/phbg.jpg');
}

.white-light {
    background-color: #e2ab12;
}

.carousel .carousel-item {
	width: 50vw;
	height: auto;
}