.info {
    background-image: url('../img/planet/phbg.jpg');
}

.info-container::before {
    background-image: url('../img/planet/phbg.jpg');
}

.white-light {
    background-color: #e2ab12;
}

.carousel .carousel-item {
    width: 70vw;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .carousel .carousel-item {
        width: 90vw;
    }
}

/*loading*/
#loading {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 99999;
}
#loading_text {
    font-size: 2rem;
    text-align: center;
    width: 100vw;
    position: absolute;
    top: 35vh;
}
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}