.info {
    background-image: url('../img/planet/subg.jpg');
}

.info-container::before {
    background-image: url('../img/planet/subg.jpg');
}

#content {
    position: relative;
    display: block;
    line-height: 2.8rem;
}