.info {
    background-image: url('../img/planet/subg.jpg');
}

.info-container::before {
    background-image: url('../img/planet/subg.jpg');
}

#content {
    color: white;
}

#content label, #content input {
	color: white;
}