.info {
    background-image: url('../img/planet/inbg.jpg');
}

.info-container::before {
    background-image: url('../img/planet/inbg.jpg');
}

.white-light {
    background-color: #d5abea;
}

.page-container {
    margin: auto;
}

/*pagination*/

.paginationjs {
    text-align: center;
}

.pagination-btn {
    width: 100%;
    text-align: center;
    line-height: 0;
}

.blur-logo {
    opacity: 0.5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#p1,
#p2,
#p3,
#p4,
#p5 {
    display: none;
}

#p2 {
    text-align: center;
}

hr {
    border-color: gray;
}