.info {
    background-image: url('../img/planet/inbg.jpg');
}

.info-container::before {
    background-image: url('../img/planet/inbg.jpg');
}

.page-container {
    margin: auto;
}

.paginationjs-pages {
    /*display: inline;*/
    text-align: left;
}

.paginationjs-prev {
    margin-left: 10%;
    min-width: 20%;
}

.paginationjs-next {
    width: 20%;
    margin-left: 50%; 
}

.paginationjs-prev:hover,
.paginationjs-next:hover {
    transform: scale(1.5, 1.5);
    transition: transform 250ms ease-in;
}

.paginationjs {
    text-align: center;
}

.paginationjs li {
    display: inline;
    font-size: 1.5rem;
}

#p1,
#p2,
#p3,
#p4 {
    display: none;
}